files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDujCCAqICCQD7ubJV3fe2MjANBgkqhkiG9w0BAQsFADCBnjELMAkGA1UEBhMC
      WkExEDAOBgNVBAgMB0dhdXRlbmcxEzARBgNVBAcMClJvb2RlcG9vcnQxPTA7BgNV
      BAMMNG9ubGluZS1ib29rc3RvcmUtZGVtby5ldS13ZXN0LTEuZWxhc3RpY2JlYW5z
      dGFsay5jb20xKTAnBgkqhkiG9w0BCQEWGmRldm9ucmljaGFyZHMxNDNAZ21haWwu
      Y29tMB4XDTIzMDkxMzE3NDIxOFoXDTI0MDkxMjE3NDIxOFowgZ4xCzAJBgNVBAYT
      AlpBMRAwDgYDVQQIDAdHYXV0ZW5nMRMwEQYDVQQHDApSb29kZXBvb3J0MT0wOwYD
      VQQDDDRvbmxpbmUtYm9va3N0b3JlLWRlbW8uZXUtd2VzdC0xLmVsYXN0aWNiZWFu
      c3RhbGsuY29tMSkwJwYJKoZIhvcNAQkBFhpkZXZvbnJpY2hhcmRzMTQzQGdtYWls
      LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMiUGFFKu0Dy5XSs
      0Yttdidiahz/555jBvUa9qJeCAcBE1H+mRVewnZara02iVCatO57fUB7Ya6R01jq
      gxe7ZEqfI2NulBfytCMSqZrwGoxNXqCAzxw3+KstO2PSRwh4kcVLrC5azPx+RDb+
      KJHUITQiqcBjgloRW6wxmvrK64i3WtNO9Ltk5UJi6VzO/PrQn+lM8Q1vAgyboeWy
      kf589zw7CtOrIsF3CoY08+IsrfmMdMYC/Q1p/sQCput0i5tfiwYhfdTifVkKEQc+
      3pU4WasHX2wNFXJ+QgWWV9X0mfFgdV20FAAw9juai/Ny262ZjDX5J23Y5L+sFwg6
      hBmMvWUCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEABr+nfgvgeWD8vGILExtnQlGK
      Ic+WzgGe2MeF5t32bEzaiEjlQayc2+sLRD7b6vaztu3Vdt7ZXbaLZQdI7xUBIcDU
      /P4QJ5DYWQJDJnb87hFr2s+2SkgH43Ei8tq9/gHkI3Eb+sVMtTzrZRjBQUYu/10i
      ZVkhp6JIONxenuHZR5n8ngJiTazwvNLku32JQuo7uRuBeedG+dvv9AtshlF4ZAR8
      v5IPdtobJZWtfFUrhhoipca7Mnj+CrJG/meYt/VM/CgtSv3JmyzhIIPCV6qoOTbv
      9q/Re0KztCoiall/jg2reNU6x0tGedFBie0OacnT2zESiGi5BG92++w8q9Y2pg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAyJQYUUq7QPLldKzRi212J2JqHP/nnmMG9Rr2ol4IBwETUf6Z
      FV7CdlqtrTaJUJq07nt9QHthrpHTWOqDF7tkSp8jY26UF/K0IxKpmvAajE1eoIDP
      HDf4qy07Y9JHCHiRxUusLlrM/H5ENv4okdQhNCKpwGOCWhFbrDGa+srriLda0070
      u2TlQmLpXM78+tCf6UzxDW8CDJuh5bKR/nz3PDsK06siwXcKhjTz4iyt+Yx0xgL9
      DWn+xAKm63SLm1+LBiF91OJ9WQoRBz7elThZqwdfbA0Vcn5CBZZX1fSZ8WB1XbQU
      ADD2O5qL83LbrZmMNfknbdjkv6wXCDqEGYy9ZQIDAQABAoIBAQCc/xYdoxH4n2as
      sYx+xtoBr82BD2jbF4XdmhJMOq+r09KsjkyCZp5th0KD3rkSR1WxiSUbsLdfrbKw
      2TZs//dbVT6c2HPAXu9SuIvaw270PKcBmHEEFGdmjMv8sR16au0mcbm+usHSLH72
      UG+u3Ux0A2G9PeZM22NW36j//o7nfcEcGNWO/fFbQ2C9/mmVOTHoSobDcLPqeLq8
      ciqHwPmxA+Yo0+wIsxeAwmTzs/lamphdzq4Fy6pG6tGS6cB0EPxwYgleF8ci0M3m
      xm7NQGFJypE4CYYO2z0G2W9x6AMjcHFZfAma9naJv2t+8kqcagZcNKChzdMm316r
      ilBkG2GhAoGBAPUfo+udSKQCulSUBTFCJlC0R7az6AhwPzf9+hyX2U5KelfiGOh8
      UmRFYLRC8PNHTghmBLu+tPwSvemRLxkVVqFpNhb5DBzAQncXCFUm0r0ERbasJvAt
      rH6yBE0yHe6gi0I7k4qbPwBNdcDexunfjTKfMs8ZZb7i5GtN3gUAUprNAoGBANF6
      d31wKEzhbvC7t54KKr7UBaMKoma7sYLtR86glkShIzOWFs/nS5rH3SDODhNTUaWm
      QoRCG4Vcqxaa2OlBKcC39f96nGLUYIhy1XpTkRyfgsxYGhjAKgqUvVzusIBUdoj+
      +gyV9PuA7kuZte7OmVlVUueQ/OHWerLsvvXU3Nz5AoGAaw92uOHpaDkIyQgdfHY3
      5efXqqTJI2ZjNkFnjDWGY/uDk/7cgi5KjiD/K7xRIPBz1Jc6WgXhZneJGwqeV4ZK
      YBVj2oTMFYKjhQA6U3axdHz5Nd/a4ewQ+wUle9H34NGeAT+kIVXNHoS2eZbTqjJJ
      qWJ+/pVJKyZOPc+0uNp7OcECgYEAwaworaD0oaALoibsLQHZY3VDgOpkG/eMtzAK
      I8/1Hp6cnSU3EiEWlZQTrjDUcqml4zFEbmNwbmyvAcdIpN/KapOqrPn/fKA+X+lL
      1j1M/Nm9ZJBQEHIabI34ReOo6/0rWp3jMZ+zUJRzvRHwU0pQHXf1noM+Ss6xwpuA
      MmkLioECgYA8tjmajW1w3GCoqiNnwhCQEeP+2JXsNL8DE2GSq9SaMOx3ceKIotTC
      5zTBcHvpr2G45jfWu0uKnK17WR+Xa81q3EaKEoD1+sMSQAHWbDeva9+eLYGQzeUy
      xLRXXlRKcw3Vc9eR3Q6DAJkhfPCbmO15ulOX807dxNmLk/2R766PYQ==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"